# 1. Introduction to Python

![](images/logo.png)

Welcome to your first Jupyter notebook! This is the program you will be using to learn Python in. 

## This notebook contains the code from the presentation

Jupyter notebooks are made up of *cells*. There are two main types of cell

1. **Markdown cells**: This is where you can write text with some basic features like 

* bold / italic,
* tables, 
* images,
* headings, 
* links,
* numbering / bullet points. 

Markdown cells are useful for explaining what your code is doing. *This cell is a markdown cell.* More info about how to write markdown can be found [here](https://www.markdownguide.org/getting-started/). 

2. **Code cells**. This is where you can write and run snippets of Python code. In order to run your code, just type it into a code cell (that's one that has a `In[ ]` next to it), then click the run button in the top bar or use the keyboard shortcut `shift + enter` or `ctrl + enter`. The output (if there is any) will appear below. #

Try it out in the cell below

In [ ]:

print('Hello world')

In [ ]:

print(2 + 2)

In [ ]:

print(0.99 * 100)
print(8 / 2)
print(5 ** 2)

In [ ]:

print(10 + 10 / 2)
print((10 + 10) / 2)

In [ ]:

print(1 / 0)

In [ ]:

print 10

In [ ]:

speed = 28
print(speed)

In [ ]:

speed = 567
time = 15
print(speed * time)

In [ ]:

distance = speed * time
print(distance)

In [ ]:

my_number = 5
print(my_number)
my_number = 6
print(my_number)

In [ ]:

my_number = my_number + 1
print(my_number)

In [ ]:

print('a piece of text')

In [ ]:

my_text = "another piece of text :)"
print(my_text)

In [ ]:

long_text = '''Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
ut aliquip ex ea commodo consequat. '''

print(long_text)

In [ ]:

first_name = 'Daveed'
second_name = 'Diggs'
full_name = first_name + ' ' + second_name
print(full_name)

In [ ]:

print('=' * 10)

In [ ]:

print('a' - 'b')

In [ ]:

print('hello' * 'h')

In [ ]:

my_string = 'Monty Python'
print(my_string[6])
print(my_string[0])
print(my_string[6:10])

In [ ]:

my_list = [42, 'dog', -0.5, 'cat', 'fish']
print(my_list)

In [ ]:

my_list = [42, 'dog', -0.5, 'cat', 'fish']

my_list_length = len(my_list)

print(my_list_length)

In [ ]:

print(my_list[0])
print(my_list[1:3])

In [ ]:

my_list = [42, 'dog', -0.5, 'cat', 'fish']

my_list[0] = -11111

print(my_list)

In [ ]:

list1 = ['beans', 'cheese', 'jam']
list2 = ['butter', 'nutella', 'marmite']
list3 = list1 + list2
print(list3)

In [ ]:

list3 = list3 + ['peanut butter']
print(list3)

In [ ]:

list3.append('peanut butter')

In [ ]:

empty_list = []
empty_list.append('shoe')
empty_list.append('glove')
empty_list.append('sock')
print(empty_list)