In [19]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
np.set_printoptions(precision=4, linewidth=500, threshold=500, suppress=True)
%matplotlib notebook

# Data Science Tools III: Predicting Employee Churn

![](images/logo.png)

Welcome to another Session from the datakirk. In this notebook we will be exploring data concerning employees at a company. Imagine the following situation: 

You are working for a data science consultancy. The client is concerned about retention of its high performing employees and has asked you to investigate how it can improve retention of such colleagues. The client is also interested in being able to predict exactly which of its employees is most at risk of leaving. To aid in this task, the client has provided some
data which includes attributes of its current and past employees. 

<img src="images/task.png" style="width: 800px;" />

The data provides the following attributes:

| Attribute             | Description                                                  |
| --------------------- | ------------------------------------------------------------ |
| satisfaction_level    | Employee satisfaction rating, ranging from 0 to 1, with 1 indicating the highest satisfaction level |
| last_evaluation       | Employee performance evaluation rating, ranging from 0 to 1, with 1 indicating a the highest performance level |
| average_monthly_hours | The average number of hours worked each month                |
| time_spend_company    | The number of years spent at the company                     |
| Work_accident         | Whether or not the employee was involved in a workplace accident. “1” indicates that they were, “0” indicates that they were not |
| promotion_last_5years | Whether or not the employee has been promoted at least once in the past five years. “1” indicates that they were, “0” indicates that they were not |
| department            | The department the employee is working in                    |
| salary                | The salary classification of the employee, ranging across “low”, “medium”, and “high” |
| left                  | Whether or not the employee has left the company             |


### What information can we find out from this dataset, and how can we predict whether an employee will leave?

In [17]:
#  read in the data

data = pd.read_csv('employees.csv')
data

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,department,salary,left
0,0.38,0.53,2,157,3,0,0,sales,low,1
1,0.80,0.86,5,262,6,0,0,sales,medium,1
2,0.11,0.88,7,272,4,0,0,sales,medium,1
3,0.72,0.87,5,223,5,0,0,sales,low,1
4,0.37,0.52,2,159,3,0,0,sales,low,1
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,0,support,low,1
14995,0.37,0.48,2,160,3,0,0,support,low,1
14996,0.37,0.53,2,143,3,0,0,support,low,1
14997,0.11,0.96,6,280,4,0,0,support,low,1
14998,0.37,0.52,2,158,3,0,0,support,low,1

# Initial Data Exploration

## Split the data into leavers and remainers

## Lets histogrm the columns for the remainers and leavers

# Part 2: Prediction

## First, we need to one-hot-encode the categorical variables

## Now lets split our data into the features and the target

## Next, it is good practice to scale the data columns to lie in roughly the same range

This can be achieved by subtracting the mean, and dividing by the standard deviation of each column

## It's now super important to split our data into a training set and a test set!!

## We are now ready to choose and apply a predictive model

## Analyse the model

## Let's try a more advanced model